body{
    margin: 0;
    border: 0;
    padding: 0;
}

.line{
    position: relative;
    left: 50%;
    width: 120px;
    height: 20px;
    margin-top: 20px;
    border-top: 60px double red;
    border-bottom: 20px dotted black;
}

.test-color{
    width: 120px;
    height: 20px;
    color: blue;
    margin-top: 20px;
    border: thin solid;
}
#a{
    width: 100px;
    height: 50px;
    background-color: black;
    background-image: url(../imgs/red.png);
    background-repeat: no-repeat;
    background-position: 100%;
    border-right: 10px solid transparent;
}
#b{
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    background-image: url(../imgs/red.png);
    background-repeat: no-repeat;
    background-position: 10px;
}
.triangle{
    width: 0px;
    height: 0px;
    border: 100px solid;
    border-color: red transparent transparent transparent;
}

.triangle-top{ /*上梯形*/
    width: 100px;
    height: 0px;
    border: 4px solid;
    border-color: transparent transparent red transparent;
}
.triangle3{ /*中间矩形*/
    width: 108px; /*这里宽度要注意加上梯形两倍的border*/
    height: 100px;
    background-color: red
}
.triangle-bottom{ /*下梯形*/
    width: 100px;
    height: 0px;
    border: 4px solid;
    border-color: red transparent transparent  transparent;
}

.box{
    border-left:200px solid pink;
}
.left{
    width: 200px;
    margin-left: -200px;
    float:left;
}
.module{
    width:300px;
    background:yellow;
}
